<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-index") %>>
          <a href="/docs/providers/flexibleengine/index.html">FlexibleEngine Provider</a>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-datasource-blockstorage-availability-zones-v3") %>>
              <a href="/docs/providers/flexibleengine/d/blockstorage_availability_zones_v3.html">flexibleengine_blockstorage_availability_zones_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/flexibleengine/d/blockstorage_volume_v2.html">flexibleengine_blockstorage_volume_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-cce-cluster-v3") %>>
              <a href="/docs/providers/flexibleengine/d/cce_cluster_v3.html">flexibleengine_cce_cluster_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-cce-node-v3") %>>
              <a href="/docs/providers/flexibleengine/d/cce_node_v3.html">flexibleengine_cce_node_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-cce-node-ids-v3") %>>
              <a href="/docs/providers/flexibleengine/d/cce_node_ids_v3.html">flexibleengine_cce_node_ids_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-compute-bms-flavors-v2") %>>
              <a href="/docs/providers/flexibleengine/d/compute_bms_flavors_v2.html">flexibleengine_compute_bms_flavors_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-compute-bms-keypairs-v2") %>>
              <a href="/docs/providers/flexibleengine/d/compute_bms_keypairs_v2.html">flexibleengine_compute_bms_keypairs_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-compute-bms-nic-v2") %>>
              <a href="/docs/providers/flexibleengine/d/compute_bms_nic_v2.html">flexibleengine_compute_bms_nic_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-compute-bms-server-v2") %>>
              <a href="/docs/providers/flexibleengine/d/compute_bms_server_v2.html">flexibleengine_compute_bms_server_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-compute-availability-zones-v2") %>>
              <a href="/docs/providers/flexibleengine/d/compute_availability_zones_v2.html">flexibleengine_compute_availability_zones_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-csbs-backup-v1") %>>
              <a href="/docs/providers/flexibleengine/d/csbs_backup_v1.html">flexibleengine_csbs_backup_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-csbs-backup-policy-v1") %>>
              <a href="/docs/providers/flexibleengine/d/csbs_backup_policy_v1.html">flexibleengine_csbs_backup_policy_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-cts-tracker-v1") %>>
              <a href="/docs/providers/flexibleengine/d/cts_tracker_v1.html">flexibleengine_cts_tracker_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-dcs-product-v1") %>>
              <a href="/docs/providers/flexibleengine/d/dcs_product_v1.html">flexibleengine_dcs_product_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-dcs-az-v1") %>>
              <a href="/docs/providers/flexibleengine/d/dcs_az_v1.html">flexibleengine_dcs_az_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-dcs-maintainwindow-v1") %>>
              <a href="/docs/providers/flexibleengine/d/dcs_maintainwindow_v1.html">flexibleengine_dcs_maintainwindow_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-dds-flavors-v3") %>>
              <a href="/docs/providers/flexibleengine/d/dds_flavors_v3.html">flexibleengine_dds_flavors_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-dns-zone-v2") %>>
              <a href="/docs/providers/flexibleengine/d/dns_zone_v2.html">flexibleengine_dns_zone_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-identity-project-v3") %>>
              <a href="/docs/providers/flexibleengine/d/identity_project_v3.html">flexibleengine_identity_project_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-identity-role-v3") %>>
              <a href="/docs/providers/flexibleengine/d/identity_role_v3.html">flexibleengine_identity_role_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-images-image-v2") %>>
              <a href="/docs/providers/flexibleengine/d/images_image_v2.html">flexibleengine_images_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-kms-key-v1") %>>
              <a href="/docs/providers/flexibleengine/d/kms_key_v1.html">flexibleengine_kms_key_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-lb-certificate-v2") %>>
              <a href="/docs/providers/flexibleengine/d/lb_certificate_v2.html">flexibleengine_lb_certificate_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-kms-data-key-v1") %>>
              <a href="/docs/providers/flexibleengine/d/kms_data_key_v1.html">flexibleengine_kms_data_key_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-networking-network-v2") %>>
              <a href="/docs/providers/flexibleengine/d/networking_network_v2.html">flexibleengine_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-networking-secgroup-v2") %>>
              <a href="/docs/providers/flexibleengine/d/networking_secgroup_v2.html">flexibleengine_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-rds-flavors-v1") %>>
              <a href="/docs/providers/flexibleengine/d/rds_flavors_v1.html">flexibleengine_rds_flavors_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-rds-flavors-v3") %>>
              <a href="/docs/providers/flexibleengine/d/rds_flavors_v3.html">flexibleengine_rds_flavors_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-rts-stack-v1") %>>
               <a href="/docs/providers/flexibleengine/d/rts_stack_v1.html">flexibleengine_rts_stack_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-rts-stack-resource-v1") %>>
               <a href="/docs/providers/flexibleengine/d/rts_stack_resource_v1.html">flexibleengine_rts_stack_resource_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-rts-software-config-v1") %>>
               <a href="/docs/providers/flexibleengine/d/rts_software_config.html">flexibleengine_rts_software_config_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-s3-bucket-object") %>>
              <a href="/docs/providers/flexibleengine/d/s3_bucket_object.html">flexibleengine_s3_bucket_object</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-sdrs-domain-v1") %>>
              <a href="/docs/providers/flexibleengine/d/sdrs_domain_v1.html">flexibleengine_sdrs_domain_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-sfs-file-system-v2") %>>
                <a href="/docs/providers/flexibleengine/d/sfs_file_system_v2.html">flexibleengine_sfs_file_system_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-vbs-backup-policy-v2") %>>
              <a href="/docs/providers/flexibleengine/d/vbs_backup_policy_v2.html">flexibleengine_vbs_backup_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-vbs-backup-v2") %>>
              <a href="/docs/providers/flexibleengine/d/vbs_backup_v2.html">flexibleengine_vbs_backup_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-vpc-v1") %>>
              <a href="/docs/providers/flexibleengine/d/vpc_v1.html">flexibleengine_vpc_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-vpc-subnet-v1") %>>
              <a href="/docs/providers/flexibleengine/d/vpc_subnet_v1.html">flexibleengine_vpc_subnet_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-vpc-subnet-ids-v1") %>>
              <a href="/docs/providers/flexibleengine/d/vpc_subnet_ids_v1.html">flexibleengine_vpc_subnet_ids_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-vpc-peering-v2") %>>
              <a href="/docs/providers/flexibleengine/d/vpc_peering_v2.html">flexibleengine_vpc_peering_connection_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-vpc-route-v2") %>>
              <a href="/docs/providers/flexibleengine/d/vpc_route_v2.html">flexibleengine_vpc_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-vpc-route-ids-v2") %>>
              <a href="/docs/providers/flexibleengine/d/vpc_route_ids_v2.html">flexibleengine_vpc_route_ids_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-antidos") %>>
          <a href="#">Antiddos Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-antiddos-v1") %>>
              <a href="/docs/providers/flexibleengine/r/antiddos_v1.html">flexibleengine_antiddos_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-as") %>>
          <a href="#">Auto Scaling Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-as-configuration-v1") %>>
              <a href="/docs/providers/flexibleengine/r/as_configuration_v1.html">flexibleengine_as_configuration_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-as-group-v1") %>>
              <a href="/docs/providers/flexibleengine/r/as_group_v1.html">flexibleengine_as_group_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-as-policy-v1") %>>
              <a href="/docs/providers/flexibleengine/r/as_policy_v1.html">flexibleengine_as_policy_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-blockstorage") %>>
          <a href="#">Block Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/flexibleengine/r/blockstorage_volume_v2.html">flexibleengine_blockstorage_volume_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-floatingip-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_floatingip_v2.html">flexibleengine_compute_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-floatingip-associate-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_floatingip_associate_v2.html">flexibleengine_compute_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-instance-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_instance_v2.html">flexibleengine_compute_instance_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-interface-attach-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_interface_attach_v2.html">flexibleengine_compute_interface_attach_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-keypair-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_keypair_v2.html">flexibleengine_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-servergroup-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_servergroup_v2.html">flexibleengine_compute_servergroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-volume-attach-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_volume_attach_v2.html">flexibleengine_compute_volume_attach_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-bms-server-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_bms_server_v2.html">flexibleengine_compute_server_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-cce") %>>
          <a href="#">CCE Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-cce-cluster-v3") %>>
              <a href="/docs/providers/flexibleengine/r/cce_cluster_v3.html">flexibleengine_cce_cluster_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-cce-nodes-v3") %>>
              <a href="/docs/providers/flexibleengine/r/cce_nodes_v3.html">flexibleengine_cce_nodes_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-ces") %>>
          <a href="#">CES Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-ces-alarmrule") %>>
              <a href="/docs/providers/flexibleengine/r/ces_alarmrule.html">flexibleengine_ces_alarmrule</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-csbs") %>>
          <a href="#">CSBS Resources</a>
          <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-flexibleengine-resource-csbs-backup-v1") %>>
                <a href="/docs/providers/flexibleengine/r/csbs_backup_v1.html">flexibleengine_csbs_backup_v1</a>
              </li>
              <li<%= sidebar_current("docs-flexibleengine-resource-csbs-backup-policy-v1") %>>
                <a href="/docs/providers/flexibleengine/r/csbs_backup_policy_v1.html">flexibleengine_csbs_backup_policy_v1</a>
              </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-css") %>>
          <a href="#">CSS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-css-cluster-v1") %>>
              <a href="/docs/providers/flexibleengine/r/css_cluster_v1.html">flexibleengine_css_cluster_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-css-snapshot-v1") %>>
              <a href="/docs/providers/flexibleengine/r/css_snapshot_v1.html">flexibleengine_css_snapshot_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-cts") %>>
          <a href="#">CTS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-cts-tracker-v1") %>>
              <a href="/docs/providers/flexibleengine/r/cts_tracker_v1.html">flexibleengine_cts_tracker_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-dws") %>>
          <a href="#">Data Warehouse Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-dws-cluster-v1") %>>
              <a href="/docs/providers/flexibleengine/r/dws_cluster_v1.html">flexibleengine_dws_cluster_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-dcs") %>>
          <a href="#">DCS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-dcs-instance-v1") %>>
              <a href="/docs/providers/flexibleengine/r/dcs_instance_v1.html">flexibleengine_dcs_instance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-dds") %>>
          <a href="#">DDS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-dds-instance-v3") %>>
              <a href="/docs/providers/flexibleengine/r/dds_instance_v3.html">flexibleengine_dds_instance_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-dns") %>>
          <a href="#">DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-dns-recordset-v2") %>>
              <a href="/docs/providers/flexibleengine/r/dns_recordset_v2.html">flexibleengine_dns_recordset_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-dns-zone-v2") %>>
              <a href="/docs/providers/flexibleengine/r/dns_zone_v2.html">flexibleengine_dns_zone_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-drs") %>>
          <a href="#">DRS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-drs-replication-v2") %>>
              <a href="/docs/providers/flexibleengine/r/drs_replication_v2.html">flexibleengine_drs_replication_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-drs-replicationconsistencygroup-v2") %>>
              <a href="/docs/providers/flexibleengine/r/drs_replicationconsistencygroup_v2.html">flexibleengine_drs_replicationconsistencygroup_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-elb") %>>
          <a href="#">Elastic Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-elb-loadbalancer") %>>
              <a href="/docs/providers/flexibleengine/r/elb_loadbalancer.html">flexibleengine_elb_loadbalancer</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-elb-listener") %>>
              <a href="/docs/providers/flexibleengine/r/elb_listener.html">flexibleengine_elb_listener</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-elb-health") %>>
              <a href="/docs/providers/flexibleengine/r/elb_health.html">flexibleengine_elb_health</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-elb-backend") %>>
              <a href="/docs/providers/flexibleengine/r/elb_backend.html">flexibleengine_elb_backend</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-lb") %>>
          <a href="#">Enhanced Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-certificate-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_certificate_v2.html">flexibleengine_lb_certificate_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-loadbalancer-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_loadbalancer_v2.html">flexibleengine_lb_loadbalancer_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-listener-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_listener_v2.html">flexibleengine_lb_listener_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-pool-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_pool_v2.html">flexibleengine_lb_pool_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-member-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_member_v2.html">flexibleengine_lb_member_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-monitor-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_monitor_v2.html">flexibleengine_lb_monitor_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-l7policy-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_l7policy_v2.html">flexibleengine_lb_l7policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-l7rule-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_l7rule_v2.html">flexibleengine_lb_l7rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-whitelist-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_whitelist_v2.html">flexibleengine_lb_whitelist_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-eip") %>>
          <a href="#">EIP Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-vpc-eip-v1") %>>
              <a href="/docs/providers/flexibleengine/r/vpc_eip_v1.html">flexibleengine_vpc_eip_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-fw") %>>
          <a href="#">Firewall Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-fw-firewall-group-v2") %>>
              <a href="/docs/providers/flexibleengine/r/fw_firewall_group_v2.html">flexibleengine_fw_firewall_group_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-fw-policy-v2") %>>
              <a href="/docs/providers/flexibleengine/r/fw_policy_v2.html">flexibleengine_fw_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-fw-rule-v2") %>>
              <a href="/docs/providers/flexibleengine/r/fw_rule_v2.html">flexibleengine_fw_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-identity") %>>
          <a href="#">Identity Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-identity-agency-v3") %>>
              <a href="/docs/providers/flexibleengine/r/identity_agency_v3.html">flexibleengine_identity_agency_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-identity-group-v3") %>>
              <a href="/docs/providers/flexibleengine/r/identity_group_v3.html">flexibleengine_identity_group_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-identity-group-membership-v3") %>>
              <a href="/docs/providers/flexibleengine/r/identity_group_membership_v3.html">flexibleengine_identity_group_membership_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-identity-role-v3") %>>
              <a href="/docs/providers/flexibleengine/r/identity_role_v3.html">flexibleengine_identity_role_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-identity-role-assignment-v3") %>>
              <a href="/docs/providers/flexibleengine/r/identity_role_assignment_v3.html">flexibleengine_identity_role_assignment_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-identity-user-v3") %>>
              <a href="/docs/providers/flexibleengine/r/identity_user_v3.html">flexibleengine_identity_user_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-images") %>>
          <a href="#">Images Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-images-image-v2") %>>
              <a href="/docs/providers/flexibleengine/r/images_image_v2.html">flexibleengine_images_image_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-kms") %>>
          <a href="#">KMS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-kms-key-v1") %>>
              <a href="/docs/providers/flexibleengine/r/kms_key_v1.html">flexibleengine_kms_key_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-mls") %>>
          <a href="#">MLS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-mls-instance-v1") %>>
              <a href="/docs/providers/flexibleengine/r/mls_instance_v1.html">flexibleengine_mls_instance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-mrs") %>>
          <a href="#">MRS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-mrs-cluster-v1") %>>
              <a href="/docs/providers/flexibleengine/r/mrs_cluster_v1.html">flexibleengine_mrs_cluster_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-mrs-hybrid-cluster-v1") %>>
              <a href="/docs/providers/flexibleengine/r/mrs_hybrid_cluster_v1.html">flexibleengine_mrs_hybrid_cluster_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-mrs-job-v1") %>>
              <a href="/docs/providers/flexibleengine/r/mrs_job_v1.html">flexibleengine_mrs_job_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-nat") %>>
          <a href="#">NAT Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-nat-gateway-v2") %>>
              <a href="/docs/providers/flexibleengine/r/nat_gateway_v2.html">flexibleengine_nat_gateway_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-nat-snat-rule-v2") %>>
              <a href="/docs/providers/flexibleengine/r/nat_snat_rule_v2.html">flexibleengine_nat_snat_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-nat-dnat-rule-v2") %>>
                          <a href="/docs/providers/flexibleengine/r/nat_dnat_rule_v2.html">flexibleengine_nat_dnat_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-networking") %>>
          <a href="#">Networking Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-floatingip-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_floatingip_v2.html">flexibleengine_networking_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-floatingip-associate-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_floatingip_associate_v2.html">flexibleengine_networking_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-network-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_network_v2.html">flexibleengine_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-port-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_port_v2.html">flexibleengine_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-router-interface-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_router_interface_v2.html">flexibleengine_networking_router_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-router-route-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_router_route_v2.html">flexibleengine_networking_router_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-router-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_router_v2.html">flexibleengine_networking_router_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-subnet-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_subnet_v2.html">flexibleengine_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-secgroup-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_secgroup_v2.html">flexibleengine_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-secgroup-rule-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_secgroup_rule_v2.html">flexibleengine_networking_secgroup_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-vip-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_vip_v2.html">flexibleengine_networking_vip_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-vip-associate-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_vip_associate_v2.html">flexibleengine_networking_vip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-vpc-v1") %>>
              <a href="/docs/providers/flexibleengine/r/vpc_v1.html">flexibleengine_vpc_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-vpc-subnet-v1") %>>
              <a href="/docs/providers/flexibleengine/r/vpc_subnet_v1.html">flexibleengine_vpc_subnet_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-vpc-route-v2") %>>
              <a href="/docs/providers/flexibleengine/r/vpc_route_v2.html">flexibleengine_vpc_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-vpc-peering-v2") %>>
              <a href="/docs/providers/flexibleengine/r/vpc_peering_v2.html">flexibleengine_vpc_peering_connection_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-vpc-peering-accepter-v2") %>>
              <a href="/docs/providers/flexibleengine/r/vpc_peering_accepter_v2.html">flexibleengine_vpc_peering_connection_accepter_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-obs") %>>
          <a href="#">OBS Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-obs-bucket") %>>
              <a href="/docs/providers/flexibleengine/r/obs_bucket.html">flexibleengine_obs_bucket</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-obs-bucket-object") %>>
              <a href="/docs/providers/flexibleengine/r/obs_bucket_object.html">flexibleengine_obs_bucket_object</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-rds") %>>
          <a href="#">RDS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-rds-instance-v1") %>>
              <a href="/docs/providers/flexibleengine/r/rds_instance_v1.html">flexibleengine_rds_instance_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-rds-instance-v3") %>>
              <a href="/docs/providers/flexibleengine/r/rds_instance_v3.html">flexibleengine_rds_instance_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-rds-parametergroup-v3") %>>
              <a href="/docs/providers/flexibleengine/r/rds_parametergroup_v3.html">flexibleengine_rds_parametergroup_v3</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-rds-read-replica-v3") %>>
              <a href="/docs/providers/flexibleengine/r/rds_read_replica_v3.html">flexibleengine_rds_read_replica_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-rts") %>>
          <a href="#">RTS Resources</a>
          <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-flexibleengine-resource-rts-stack-v1") %>>
                <a href="/docs/providers/flexibleengine/r/rts_stack_v1.html">flexibleengine_resource_rts_stack_v1</a>
              </li>
              <li<%= sidebar_current("docs-flexibleengine-resource-rts-software-config-v1") %>>
                <a href="/docs/providers/flexibleengine/r/rts_software_config_v1.html">flexibleengine_rts_software_config_v1</a>
              </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-s3") %>>
          <a href="#">S3 Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-s3_bucket") %>>
              <a href="/docs/providers/flexibleengine/r/s3_bucket.html">flexibleengine_s3_bucket</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-s3-bucket-object") %>>
              <a href="/docs/providers/flexibleengine/r/s3_bucket_object.html">flexibleengine_s3_bucket_object</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-s3-bucket-policy") %>>
              <a href="/docs/providers/flexibleengine/r/s3_bucket_policy.html">flexibleengine_s3_bucket_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-sdrs") %>>
          <a href="#">SDRS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-sdrs-protectedinstance-v1") %>>
              <a href="/docs/providers/flexibleengine/r/sdrs_protectedinstance_v1.html">flexibleengine_sdrs_protectedinstance_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-sdrs-protectiongroup-v1") %>>
              <a href="/docs/providers/flexibleengine/r/sdrs_protectiongroup_v1.html">flexibleengine_sdrs_protectiongroup_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-sdrs-replication-attach-v1") %>>
              <a href="/docs/providers/flexibleengine/r/sdrs_replication_attach_v1.html">flexibleengine_sdrs_replication_attach_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-sdrs-replication-pair-v1") %>>
              <a href="/docs/providers/flexibleengine/r/sdrs_replication_pair_v1.html">flexibleengine_sdrs_replication_pair_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-sdrs-drill-v1") %>>
              <a href="/docs/providers/flexibleengine/r/sdrs_drill_v1.html">flexibleengine_sdrs_drill_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-sfs") %>>
          <a href="#">SFS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-sfs-access-rule-v2") %>>
              <a href="/docs/providers/flexibleengine/r/sfs_access_rule_v2.html">flexibleengine_sfs_access_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-sfs-file-system-v2") %>>
              <a href="/docs/providers/flexibleengine/r/sfs_file_system_v2.html">flexibleengine_sfs_file_system_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-sfs-turbo") %>>
              <a href="/docs/providers/flexibleengine/r/sfs_turbo.html">flexibleengine_sfs_turbo</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-smn") %>>
          <a href="#">SMN Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-smn-topic-v2") %>>
              <a href="/docs/providers/flexibleengine/r/smn_topic_v2.html">flexibleengine_smn_topic_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-smn-subscription-v2") %>>
              <a href="/docs/providers/flexibleengine/r/smn_subscription_v2.html">flexibleengine_smn_subscription_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-vbs") %>>
          <a href="#">VBS Resources</a>
           <ul class="nav nav-visible">
             <li<%= sidebar_current("docs-flexibleengine-resource-vbs-backup-policy-v2") %>>
               <a href="/docs/providers/flexibleengine/r/vbs_backup_policy_v2.html">flexibleengine-vbs-backup-policy-v2</a>
             </li>
             <li<%= sidebar_current("docs-flexibleengine-resource-vbs-backup-v2") %>>
               <a href="/docs/providers/flexibleengine/r/vbs_backup_v2.html">flexibleengine-vbs-backup-v2</a>
             </li>
           </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
