<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-index") %>>
          <a href="/docs/providers/flexibleengine/index.html">FlexibleEngine Provider</a>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-datasource-networking-network-v2") %>>
              <a href="/docs/providers/flexibleengine/d/networking_network_v2.html">flexibleengine_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-networking-secgroup-v2") %>>
              <a href="/docs/providers/flexibleengine/d/networking_secgroup_v2.html">flexibleengine_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-rds-flavors-v1") %>>
              <a href="/docs/providers/flexibleengine/d/rds_flavors_v1.html">flexibleengine_rds_flavors_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-datasource-s3-bucket-object") %>>
              <a href="/docs/providers/flexibleengine/d/s3_bucket_object.html">flexibleengine_s3_bucket_object</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-blockstorage") %>>
          <a href="#">Block Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/flexibleengine/r/blockstorage_volume_v2.html">flexibleengine_blockstorage_volume_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-floatingip-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_floatingip_v2.html">flexibleengine_compute_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-floatingip-associate-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_floatingip_associate_v2.html">flexibleengine_compute_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-instance-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_instance_v2.html">flexibleengine_compute_instance_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-keypair-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_keypair_v2.html">flexibleengine_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-secgroup-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_secgroup_v2.html">flexibleengine_compute_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-servergroup-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_servergroup_v2.html">flexibleengine_compute_servergroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-compute-volume-attach-v2") %>>
              <a href="/docs/providers/flexibleengine/r/compute_volume_attach_v2.html">flexibleengine_compute_volume_attach_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-dns") %>>
          <a href="#">DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-dns-recordset-v2") %>>
              <a href="/docs/providers/flexibleengine/r/dns_recordset_v2.html">flexibleengine_dns_recordset_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-dns-zone-v2") %>>
              <a href="/docs/providers/flexibleengine/r/dns_zone_v2.html">flexibleengine_dns_zone_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-networking") %>>
          <a href="#">Networking Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-floatingip-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_floatingip_v2.html">flexibleengine_networking_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-network-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_network_v2.html">flexibleengine_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-port-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_port_v2.html">flexibleengine_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-router-interface-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_router_interface_v2.html">flexibleengine_networking_router_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-router-route-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_router_route_v2.html">flexibleengine_networking_router_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-router-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_router_v2.html">flexibleengine_networking_router_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-subnet-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_subnet_v2.html">flexibleengine_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-secgroup-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_secgroup_v2.html">flexibleengine_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-networking-secgroup-rule-v2") %>>
              <a href="/docs/providers/flexibleengine/r/networking_secgroup_rule_v2.html">flexibleengine_networking_secgroup_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-lb") %>>
          <a href="#">Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-loadbalancer-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_loadbalancer_v2.html">flexibleengine_lb_loadbalancer_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-listener-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_listener_v2.html">flexibleengine_lb_listener_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-pool-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_pool_v2.html">flexibleengine_lb_pool_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-member-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_member_v2.html">flexibleengine_lb_member_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-lb-monitor-v2") %>>
              <a href="/docs/providers/flexibleengine/r/lb_monitor_v2.html">flexibleengine_lb_monitor_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-elb") %>>
          <a href="#">Elastic Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-elb-loadbalancer") %>>
              <a href="/docs/providers/flexibleengine/r/elb_loadbalancer.html">flexibleengine_elb_loadbalancer</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-elb-listener") %>>
              <a href="/docs/providers/flexibleengine/r/elb_listener.html">flexibleengine_elb_listener</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-elb-health") %>>
              <a href="/docs/providers/flexibleengine/r/elb_health.html">flexibleengine_elb_health</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-elb-backend") %>>
              <a href="/docs/providers/flexibleengine/r/elb_backend.html">flexibleengine_elb_backend</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-fw") %>>
          <a href="#">Firewall Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-fw-firewall-v1") %>>
              <a href="/docs/providers/flexibleengine/r/fw_firewall_v1.html">flexibleengine_fw_firewall_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-fw-policy-v1") %>>
              <a href="/docs/providers/flexibleengine/r/fw_policy_v1.html">flexibleengine_fw_policy_v1</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-fw-rule-v1") %>>
              <a href="/docs/providers/flexibleengine/r/fw_rule_v1.html">flexibleengine_fw_rule_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-s3") %>>
          <a href="#">S3 Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-s3_bucket") %>>
              <a href="/docs/providers/flexibleengine/r/s3_bucket.html">flexibleengine_s3_bucket</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-s3-bucket-object") %>>
              <a href="/docs/providers/flexibleengine/r/s3_bucket_object.html">flexibleengine_s3-bucket-object</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-s3-bucket-policy") %>>
              <a href="/docs/providers/flexibleengine/r/s3_bucket_policy.html">flexibleengine_s3_object_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-smn") %>>
          <a href="#">Smn Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-smn-topic-v2") %>>
              <a href="/docs/providers/flexibleengine/r/smn_topic_v2.html">smn_topic_v2</a>
            </li>
            <li<%= sidebar_current("docs-flexibleengine-resource-smn-subscription-v2") %>>
              <a href="/docs/providers/flexibleengine/r/smn_subscription_v2.html">smn_subscription_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-rds") %>>
          <a href="#">Rds Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-rds-instance-v1") %>>
              <a href="/docs/providers/flexibleengine/r/rds_instance_v1.html">rds_instance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-flexibleengine-resource-ces") %>>
          <a href="#">Cloud Eye Service Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-flexibleengine-resource-ces-alarmrule") %>>
              <a href="/docs/providers/flexibleengine/r/ces_alarm_rule.html">flexibleengine_ces_alarmrule</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
